<p id="notice"><%= notice %></p>

<p>
  <b>timestamp</b>
  <%= @admin_module_rate.timestamp %>
</p>

<p>
  <b>Aed:</b>
  <%= @admin_module_rate.AED %>
</p>

<p>
  <b>Afn:</b>
  <%= @admin_module_rate.AFN %>
</p>

<p>
  <b>All:</b>
  <%= @admin_module_rate.ALL %>
</p>

<p>
  <b>Amd:</b>
  <%= @admin_module_rate.AMD %>
</p>

<p>
  <b>Ang:</b>
  <%= @admin_module_rate.ANG %>
</p>

<p>
  <b>Aoa:</b>
  <%= @admin_module_rate.AOA %>
</p>

<p>
  <b>Ars:</b>
  <%= @admin_module_rate.ARS %>
</p>

<p>
  <b>Aud:</b>
  <%= @admin_module_rate.AUD %>
</p>

<p>
  <b>Awg:</b>
  <%= @admin_module_rate.AWG %>
</p>

<p>
  <b>Azn:</b>
  <%= @admin_module_rate.AZN %>
</p>

<p>
  <b>Bam:</b>
  <%= @admin_module_rate.BAM %>
</p>

<p>
  <b>Bbd:</b>
  <%= @admin_module_rate.BBD %>
</p>

<p>
  <b>Bdt:</b>
  <%= @admin_module_rate.BDT %>
</p>

<p>
  <b>Bgn:</b>
  <%= @admin_module_rate.BGN %>
</p>

<p>
  <b>Bhd:</b>
  <%= @admin_module_rate.BHD %>
</p>

<p>
  <b>Bif:</b>
  <%= @admin_module_rate.BIF %>
</p>

<p>
  <b>Bmd:</b>
  <%= @admin_module_rate.BMD %>
</p>

<p>
  <b>Bnd:</b>
  <%= @admin_module_rate.BND %>
</p>

<p>
  <b>Bob:</b>
  <%= @admin_module_rate.BOB %>
</p>

<p>
  <b>Brl:</b>
  <%= @admin_module_rate.BRL %>
</p>

<p>
  <b>Bsd:</b>
  <%= @admin_module_rate.BSD %>
</p>

<p>
  <b>Btn:</b>
  <%= @admin_module_rate.BTN %>
</p>

<p>
  <b>Bwp:</b>
  <%= @admin_module_rate.BWP %>
</p>

<p>
  <b>Byr:</b>
  <%= @admin_module_rate.BYR %>
</p>

<p>
  <b>Bzd:</b>
  <%= @admin_module_rate.BZD %>
</p>

<p>
  <b>Cad:</b>
  <%= @admin_module_rate.CAD %>
</p>

<p>
  <b>Cdf:</b>
  <%= @admin_module_rate.CDF %>
</p>

<p>
  <b>Chf:</b>
  <%= @admin_module_rate.CHF %>
</p>

<p>
  <b>Clf:</b>
  <%= @admin_module_rate.CLF %>
</p>

<p>
  <b>Clp:</b>
  <%= @admin_module_rate.CLP %>
</p>

<p>
  <b>Cny:</b>
  <%= @admin_module_rate.CNY %>
</p>

<p>
  <b>Cop:</b>
  <%= @admin_module_rate.COP %>
</p>

<p>
  <b>Crc:</b>
  <%= @admin_module_rate.CRC %>
</p>

<p>
  <b>Cup:</b>
  <%= @admin_module_rate.CUP %>
</p>

<p>
  <b>Cve:</b>
  <%= @admin_module_rate.CVE %>
</p>

<p>
  <b>Czk:</b>
  <%= @admin_module_rate.CZK %>
</p>

<p>
  <b>Djf:</b>
  <%= @admin_module_rate.DJF %>
</p>

<p>
  <b>Dkk:</b>
  <%= @admin_module_rate.DKK %>
</p>

<p>
  <b>Dop:</b>
  <%= @admin_module_rate.DOP %>
</p>

<p>
  <b>Dzd:</b>
  <%= @admin_module_rate.DZD %>
</p>

<p>
  <b>Egp:</b>
  <%= @admin_module_rate.EGP %>
</p>

<p>
  <b>Etb:</b>
  <%= @admin_module_rate.ETB %>
</p>

<p>
  <b>Eur:</b>
  <%= @admin_module_rate.EUR %>
</p>

<p>
  <b>Fjd:</b>
  <%= @admin_module_rate.FJD %>
</p>

<p>
  <b>Fkp:</b>
  <%= @admin_module_rate.FKP %>
</p>

<p>
  <b>Gbp:</b>
  <%= @admin_module_rate.GBP %>
</p>

<p>
  <b>Gel:</b>
  <%= @admin_module_rate.GEL %>
</p>

<p>
  <b>Ghs:</b>
  <%= @admin_module_rate.GHS %>
</p>

<p>
  <b>Gip:</b>
  <%= @admin_module_rate.GIP %>
</p>

<p>
  <b>Gmd:</b>
  <%= @admin_module_rate.GMD %>
</p>

<p>
  <b>Gnf:</b>
  <%= @admin_module_rate.GNF %>
</p>

<p>
  <b>Gtq:</b>
  <%= @admin_module_rate.GTQ %>
</p>

<p>
  <b>Gyd:</b>
  <%= @admin_module_rate.GYD %>
</p>

<p>
  <b>Hkd:</b>
  <%= @admin_module_rate.HKD %>
</p>

<p>
  <b>Hnl:</b>
  <%= @admin_module_rate.HNL %>
</p>

<p>
  <b>Hrk:</b>
  <%= @admin_module_rate.HRK %>
</p>

<p>
  <b>Htg:</b>
  <%= @admin_module_rate.HTG %>
</p>

<p>
  <b>Huf:</b>
  <%= @admin_module_rate.HUF %>
</p>

<p>
  <b>Idr:</b>
  <%= @admin_module_rate.IDR %>
</p>

<p>
  <b>Ils:</b>
  <%= @admin_module_rate.ILS %>
</p>

<p>
  <b>Inr:</b>
  <%= @admin_module_rate.INR %>
</p>

<p>
  <b>Iqd:</b>
  <%= @admin_module_rate.IQD %>
</p>

<p>
  <b>Irr:</b>
  <%= @admin_module_rate.IRR %>
</p>

<p>
  <b>Isk:</b>
  <%= @admin_module_rate.ISK %>
</p>

<p>
  <b>Jmd:</b>
  <%= @admin_module_rate.JMD %>
</p>

<p>
  <b>Jod:</b>
  <%= @admin_module_rate.JOD %>
</p>

<p>
  <b>Jpy:</b>
  <%= @admin_module_rate.JPY %>
</p>

<p>
  <b>Kes:</b>
  <%= @admin_module_rate.KES %>
</p>

<p>
  <b>Kgs:</b>
  <%= @admin_module_rate.KGS %>
</p>

<p>
  <b>Khr:</b>
  <%= @admin_module_rate.KHR %>
</p>

<p>
  <b>Kmf:</b>
  <%= @admin_module_rate.KMF %>
</p>

<p>
  <b>Kpw:</b>
  <%= @admin_module_rate.KPW %>
</p>

<p>
  <b>Krw:</b>
  <%= @admin_module_rate.KRW %>
</p>

<p>
  <b>Kwd:</b>
  <%= @admin_module_rate.KWD %>
</p>

<p>
  <b>Kzt:</b>
  <%= @admin_module_rate.KZT %>
</p>

<p>
  <b>Lak:</b>
  <%= @admin_module_rate.LAK %>
</p>

<p>
  <b>Lbp:</b>
  <%= @admin_module_rate.LBP %>
</p>

<p>
  <b>Lkr:</b>
  <%= @admin_module_rate.LKR %>
</p>

<p>
  <b>Lrd:</b>
  <%= @admin_module_rate.LRD %>
</p>

<p>
  <b>Lsl:</b>
  <%= @admin_module_rate.LSL %>
</p>

<p>
  <b>Ltl:</b>
  <%= @admin_module_rate.LTL %>
</p>

<p>
  <b>Lvl:</b>
  <%= @admin_module_rate.LVL %>
</p>

<p>
  <b>Lyd:</b>
  <%= @admin_module_rate.LYD %>
</p>

<p>
  <b>Mad:</b>
  <%= @admin_module_rate.MAD %>
</p>

<p>
  <b>Mdl:</b>
  <%= @admin_module_rate.MDL %>
</p>

<p>
  <b>Mga:</b>
  <%= @admin_module_rate.MGA %>
</p>

<p>
  <b>Mkd:</b>
  <%= @admin_module_rate.MKD %>
</p>

<p>
  <b>Mmk:</b>
  <%= @admin_module_rate.MMK %>
</p>

<p>
  <b>Mnt:</b>
  <%= @admin_module_rate.MNT %>
</p>

<p>
  <b>Mop:</b>
  <%= @admin_module_rate.MOP %>
</p>

<p>
  <b>Mro:</b>
  <%= @admin_module_rate.MRO %>
</p>

<p>
  <b>Mur:</b>
  <%= @admin_module_rate.MUR %>
</p>

<p>
  <b>Mvr:</b>
  <%= @admin_module_rate.MVR %>
</p>

<p>
  <b>Mwk:</b>
  <%= @admin_module_rate.MWK %>
</p>

<p>
  <b>Mxn:</b>
  <%= @admin_module_rate.MXN %>
</p>

<p>
  <b>Myr:</b>
  <%= @admin_module_rate.MYR %>
</p>

<p>
  <b>Mzn:</b>
  <%= @admin_module_rate.MZN %>
</p>

<p>
  <b>Nad:</b>
  <%= @admin_module_rate.NAD %>
</p>

<p>
  <b>Ngn:</b>
  <%= @admin_module_rate.NGN %>
</p>

<p>
  <b>Nio:</b>
  <%= @admin_module_rate.NIO %>
</p>

<p>
  <b>Nok:</b>
  <%= @admin_module_rate.NOK %>
</p>

<p>
  <b>Npr:</b>
  <%= @admin_module_rate.NPR %>
</p>

<p>
  <b>Nzd:</b>
  <%= @admin_module_rate.NZD %>
</p>

<p>
  <b>Omr:</b>
  <%= @admin_module_rate.OMR %>
</p>

<p>
  <b>Pab:</b>
  <%= @admin_module_rate.PAB %>
</p>

<p>
  <b>Pen:</b>
  <%= @admin_module_rate.PEN %>
</p>

<p>
  <b>Pgk:</b>
  <%= @admin_module_rate.PGK %>
</p>

<p>
  <b>Php:</b>
  <%= @admin_module_rate.PHP %>
</p>

<p>
  <b>Pkr:</b>
  <%= @admin_module_rate.PKR %>
</p>

<p>
  <b>Pln:</b>
  <%= @admin_module_rate.PLN %>
</p>

<p>
  <b>Pyg:</b>
  <%= @admin_module_rate.PYG %>
</p>

<p>
  <b>Qar:</b>
  <%= @admin_module_rate.QAR %>
</p>

<p>
  <b>Ron:</b>
  <%= @admin_module_rate.RON %>
</p>

<p>
  <b>Rsd:</b>
  <%= @admin_module_rate.RSD %>
</p>

<p>
  <b>Rub:</b>
  <%= @admin_module_rate.RUB %>
</p>

<p>
  <b>Rwf:</b>
  <%= @admin_module_rate.RWF %>
</p>

<p>
  <b>Sar:</b>
  <%= @admin_module_rate.SAR %>
</p>

<p>
  <b>Sbd:</b>
  <%= @admin_module_rate.SBD %>
</p>

<p>
  <b>Scr:</b>
  <%= @admin_module_rate.SCR %>
</p>

<p>
  <b>Sdg:</b>
  <%= @admin_module_rate.SDG %>
</p>

<p>
  <b>Sek:</b>
  <%= @admin_module_rate.SEK %>
</p>

<p>
  <b>Sgd:</b>
  <%= @admin_module_rate.SGD %>
</p>

<p>
  <b>Shp:</b>
  <%= @admin_module_rate.SHP %>
</p>

<p>
  <b>Sll:</b>
  <%= @admin_module_rate.SLL %>
</p>

<p>
  <b>Sos:</b>
  <%= @admin_module_rate.SOS %>
</p>

<p>
  <b>Srd:</b>
  <%= @admin_module_rate.SRD %>
</p>

<p>
  <b>Std:</b>
  <%= @admin_module_rate.STD %>
</p>

<p>
  <b>Svc:</b>
  <%= @admin_module_rate.SVC %>
</p>

<p>
  <b>Syp:</b>
  <%= @admin_module_rate.SYP %>
</p>

<p>
  <b>Szl:</b>
  <%= @admin_module_rate.SZL %>
</p>

<p>
  <b>Thb:</b>
  <%= @admin_module_rate.THB %>
</p>

<p>
  <b>Tjs:</b>
  <%= @admin_module_rate.TJS %>
</p>

<p>
  <b>Tmt:</b>
  <%= @admin_module_rate.TMT %>
</p>

<p>
  <b>Tnd:</b>
  <%= @admin_module_rate.TND %>
</p>

<p>
  <b>Top:</b>
  <%= @admin_module_rate.TOP %>
</p>

<p>
  <b>Try:</b>
  <%= @admin_module_rate.TRY %>
</p>

<p>
  <b>Ttd:</b>
  <%= @admin_module_rate.TTD %>
</p>

<p>
  <b>Twd:</b>
  <%= @admin_module_rate.TWD %>
</p>

<p>
  <b>Tzs:</b>
  <%= @admin_module_rate.TZS %>
</p>

<p>
  <b>Uah:</b>
  <%= @admin_module_rate.UAH %>
</p>

<p>
  <b>Ugx:</b>
  <%= @admin_module_rate.UGX %>
</p>

<p>
  <b>Usd:</b>
  <%= @admin_module_rate.USD %>
</p>

<p>
  <b>Uyu:</b>
  <%= @admin_module_rate.UYU %>
</p>

<p>
  <b>Uzs:</b>
  <%= @admin_module_rate.UZS %>
</p>

<p>
  <b>Vef:</b>
  <%= @admin_module_rate.VEF %>
</p>

<p>
  <b>Vnd:</b>
  <%= @admin_module_rate.VND %>
</p>

<p>
  <b>Vuv:</b>
  <%= @admin_module_rate.VUV %>
</p>

<p>
  <b>Wst:</b>
  <%= @admin_module_rate.WST %>
</p>

<p>
  <b>Xaf:</b>
  <%= @admin_module_rate.XAF %>
</p>

<p>
  <b>Xcd:</b>
  <%= @admin_module_rate.XCD %>
</p>

<p>
  <b>Xdr:</b>
  <%= @admin_module_rate.XDR %>
</p>

<p>
  <b>Xof:</b>
  <%= @admin_module_rate.XOF %>
</p>

<p>
  <b>Xpf:</b>
  <%= @admin_module_rate.XPF %>
</p>

<p>
  <b>Yer:</b>
  <%= @admin_module_rate.YER %>
</p>

<p>
  <b>Zar:</b>
  <%= @admin_module_rate.ZAR %>
</p>

<p>
  <b>Zmk:</b>
  <%= @admin_module_rate.ZMK %>
</p>

<p>
  <b>Zwl:</b>
  <%= @admin_module_rate.ZWL %>
</p>


<%= link_to 'Edit', edit_admin_module_rate_path(@admin_module_rate) %> |
<%= link_to 'Back', admin_module_rates_path %>
