<div id="wrapper2">
<h1>Weather forecasts</h1>

<table>
  <tr>
    <th>City</th>
    <th>Country</th>
    <th>Date</th>
    <th>Temp Max</th>
    <th>Temp Min</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Weather Picture</th>
    <th>Weather Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @admin_module_weathers.each do |admin_module_weather| %>
      <tr>
        <td><%= admin_module_weather.city %></td>
        <td><%= admin_module_weather.country %></td>
        <td><%= admin_module_weather.date %></td>
        <td><%= admin_module_weather.tempMaxC %> °C</td>
        <td><%= admin_module_weather.tempMinC %> °C</td>
        <td><%= admin_module_weather.windspeedKmph %> km/h</td>
        <td><%= image_tag("/images/wind_directions/wr-#{admin_module_weather.winddirection}.gif")  %></td>
        <td><%= image_tag admin_module_weather.weatherIconUrl %></td>
        <td><%= admin_module_weather.weatherDesc %></td>
        <td><%= link_to 'Show', admin_module_weather %></td>
        <td><%= link_to 'Edit', edit_admin_module_weather_path(admin_module_weather) %></td>
        <td><%= link_to 'Destroy', admin_module_weather, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<td><%= link_to "Back to all modules", :controller => "admin/decp_modules", :action => "index" %></td>
<%= link_to 'New Module weather', new_admin_module_weather_path %>
</div>

<div id="footer2">
  Domagoj Čajić | 2012
</div>