<p id="notice"><%= notice %></p>

<p>
  <b>Admin decp module:</b>
  <%= @log.admin_decp_module_id %>
</p>

<p>
  <b>Success:</b>
  <%= @log.success %>
</p>

<p>
  <b>Details:</b>
  <%= @log.details %>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
